/* frontend/src/assets/main.css */
body {
  margin: 0;
  font-family:
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑',
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dfe4eb;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  min-height: 100vh;
}

#app {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
